.zapocni {
  text-align: center;
}

.zapocni h4 {
  font-size: 1.1rem;
}

.zapocni img {
  width: 60%;
}

.zapocni p {
  margin-bottom: 1rem;
}

.zapocni .submitBtn {
  border-radius: 20px;
  padding: 0.5rem 3rem;
  background-color: #3ca082;
  border: 2px solid #d6d6d6;
  color: white;
}

.zapocni .submitBtn:hover {
  background-color: #3ca082;
}
