.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .activePage {
  background-color: #01a180;
  border: 1px solid #01a180;
  border-radius: 50%;
}

.spanNum {
  padding: 0.5rem;
}

.css-dsuxgy-MuiTableCell-root {
  text-align: center !important;
}

.table .greenRow .whiteColor {
  color: white;
  text-align: center;
}
